@model Modelo.Cadastros.Instituicao
@{
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}
@section styles {
<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}
<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">Exibindo uma instituição existente</div>
    @await Html.PartialAsync("~/Areas/Cadastros/Views/Instituicao/_PartialDetailsContentCard.cshtml", Model)
    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" asp-area="Cadastros" class="btn btn-warning" asp-route-id="@Model.InstituicaoID">Alterar</a> |
        <a asp-action="Index" asp-area="Cadastros" class="btn btn-warning">Retornar à listagem de instituições</a>
    </div>
</div>